
<div class="rankrating" id="rankres">

<% @resulthash = Hash.new  %>


 
<% @decision.answer_result.each do |rate| %>

<div class="ranks text-center">
  <%= rate.text %>: 

  <% result = rate.total_val*100 %>
  <%= result.to_i %>  points
 
  <% @resulthash[rate.text] = result %>

</div> 
<br />



<% end %>
</div>

<% @winner = @resulthash.max_by{|k,v| v} %>


<%# raise @winner.inspect %>
</div>
<div class="text-center resulttxt fadeInT">
<h1 class="winnertext"><%= @winner[0] %></h1> 
<h4 class="margtext">is your best answer with a score of:</h4>

<h1 class="perctxt"><%= @winner[1].to_i %> points</h1> 
</div>

